#jinja2:lstrip_blocks: True
{% for _host in hostvars %}
Host {{ hostvars[_host].inventory_hostname }}
  User {{ hostvars[_host].ansible_user}}
  Hostname {{ hostvars[_host].ansible_host }}
  {% if 'ansible_port' in hostvars[_host] %}
  Port {{ hostvars[_host].ansible_port }}
  {% endif %}
  {% if 'ansible_ssh_private_key_file' in hostvars[_host] %}
  IdentityFile {{ hostvars[_host].ansible_ssh_private_key_file }}
  {% endif %}
  {% if 'ssh_proxy_command' in hostvars[_host] %}
  ProxyCommand {{ hostvars[_host].ssh_proxy_command }}
  {% endif %}
  {% if 'ssh_local_forward' in hostvars[_host] %}
  LocalForward {{ hostvars[_host].ssh_local_forward }}
  {% endif %}
  {% if 'ssh_protocol' in hostvars[_host] %}
  Protocol {{ hostvars[_host].ssh_protocol }}
  {% endif %}
  {% if 'ssh_server_alive_interval' in hostvars[_host] %}
  ServerAliveInterval {{ hostvars[_host].ssh_server_alive_interval }}
  {% endif %}
  {% if 'ssh_server_alive_count_max' in hostvars[_host] %}
  ServerAliveCountMax {{ hostvars[_host].ssh_server_alive_count_max }}
  {% endif %}
  {% if 'ssh_strict_host_key_checking' in hostvars[_host] %}
  StrictHostKeyChecking {{ hostvars[_host].ssh_strict_host_key_checking }}
  {% endif %}

{% endfor %}
